@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Poppins', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

@layer base {
  body {
    @apply bg-background;
  }
  h1 {
    @apply text-lg md:text-xl xl:text-2xl;
  }
  h2 {
    @apply text-base md:text-lg;
  }
  h3 {
    @apply text-sm;
  }
}

@layer components {
  .px-setting {
    @apply px-6 md:px-10 lg:px-32;
  }
}
